div {
    border: 1px solid grey;
}

div#Gallery-1 {
    display: flex;
    flex-wrap: wrap;
}

canvas.thumbPaint {
    /* width: 200px;
    height: 200px; */
    background-color: darkgreen;
    margin: 5px;
}
